.chances {
    /*width: 25%;*/
    color: black;    
    margin-left: auto;
    margin-top: auto;
    font-size: x-large;
    text-align: center;
    border-radius: 10px;
    background-color: moccasin;
}