* {
  margin: 0;
}

.col1 {
  background-color: aquamarine;
  width: 20%;
  height: 100vh;
  float: left;
  display: inline-block;
  position: relative;
}

.col2 {
  background-color: burlywood;
  width: 60%;
  height: 100vh;
  float: left;
  display: inline-block;
  position: relative;
}

.col3 {
  background-color: cornflowerblue;
  width: 20%;
  height: 100vh;
  float: left;
  display: inline-block;
  position: relative;
}

.title {
  height: 5vh;
  width: 100%; 
  text-align: center;  
  position: relative; 
  display: table;
}

.title p{ 
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.game {
  background-color: lightgoldenrodyellow;
  height: 95vh;
}

.playerInput {
  background-color: lightseagreen;
  height: 5vh;
}

.gameRecords {
  background-color: lightgreen;
  height: 95vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
