.boss {
    width: 3vb;
    height: 3vh;   
    background-color: greenyellow;
    border-radius: 50%;
    border-style: solid; 
    font-size: xx-small;  
    text-align: center;
    display: flex;
    vertical-align: middle;   
    justify-content: center; 
    align-items: center;
}

.boss img{
    width: 100vb;
    height: 25vh;   
}