 .enemy{    
    width: 10vh;
    height: 10vh;
    font-size: xx-small;  
    position: absolute;
    top: 10vh;
    display: flex;
    vertical-align: middle;  
    justify-content: center; 
    align-items: center;
}

.enemy img{
    width: 7vh;
    height: 7vh;  
    opacity: 70%;
}

.enemy div {
    -webkit-text-stroke: 1px red; /* width and color */

    font-family:'Times New Roman', Times, serif;
    position: absolute;
    font-size: xx-large;
    font-weight: 500;
    font-style:normal;
    color: brown;
    pointer-events: none;
}

