.magic-words {
    position: absolute;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.magic-words p {
    width: 50vb; 
    font-size: 1.5rem;
    margin-right: auto;
    display: block;
}